/*Google font*/

body{
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*padding top: .08rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/*shorthand property*/
	padding:  0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elemnts*/
/*padding is best used when creating space between an elemnt's border and it's content*/
 
 nav .nav, nav .nav-logo {
 	margin: 0.5rem;
 	/*
 	margin-top: 0.5rem;
 	margin-rigth: 0.5rem;
 	margi-bottom: 0.5rem;
 	margin-left: 0.5rem;
 	*/
 	/*changes elements to inline elements*/
 	margin: 0.5rem;
 	display: inline;
 }

 /*intro section*/

 #intro {
 	padding-left: 10%;
 	padding-right: 10%;
 	padding-top: 2rem;
 	padding-bottom: 3rem;
 	text-align: center;
 	/*short hand*/
 	/*padding: 2 rem 10% 3rem*/
 }

 .header {
 	text-align: center;
 	/*best used when horizontally aligning text instead of using our margins and paddings*/
 }

 #intro h2, #intro p {
 	/*this creates space between the contents of the intro section*/
 	margin-bottom: 1rem;
 }

#intro button {
	/*changes the thickness of text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*succeed info section*/
/*exact same properties as the intro section but can have ot's own CSS rules for flexibility*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	/*this creates a space between the header and the card section*/	
}

#succeed-info h3 {
	text-align: left;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline;
	width: 30%;
	min-height: 175px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	vertical-align: top;
}

/*footer*/

footer {
	padding: 0.7rem;
	/*create space between span tags and the footer border*/
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer .foot {
	display: inline-block;
	width: 20%;
	min-height: 175px;
	margin-left: 1rem;
	margin-right: 1rem;
	vertical-align: top;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: white;
	
}

#pre-footer {
	background-color: #002540;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer p {
	text-align: inherit;
	margin-top: 0.5rem;
}

